# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
